<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.wellness.plan.model.dao.PlanMapper">

<insert id = "insertPlan" useGeneratedKeys="true" keyProperty="planNo" keyColumn="PLAN_NO">
	INSERT
		INTO
			PLAN
			(
		    	MEMBER_NO,
		    	PLAN_NAME,
		    	X_AXIS,
		    	Y_AXIS
		) VALUES
			(
		    	#{memberNo},
		   		#{planName},
		    	#{xAxis},
		    	#{yAxis}
		)
</insert>
<select id = "findPlanForAuth" resultType="Plan">
	SELECT
		PLAN_NO,
		MEMBER_NO,
		PLAN_NAME,
		X_AXIS,
		Y_AXIS,
		CREATE_DATE
	FROM
		PLAN
	WHERE
		PLAN_NO = #{planNo}
</select>
<select id = "findPlansByMember" resultType="Plan">
	SELECT
		PLAN_NO,
		MEMBER_NO,
		PLAN_NAME,
		X_AXIS,
		Y_AXIS,
		CREATE_DATE
	FROM
		PLAN
	WHERE
		MEMBER_NO = #{memberNo}
	ORDER BY
		CREATE_DATE DESC
</select>
<delete id = "deletePlan">
	DELETE
		FROM
			PLAN
		WHERE
			PLAN_NO = #{planNo}
</delete>
<insert id = "insertPlanSession">
	INSERT
		INTO
			PLAN_SESSION
			(
		    	PLAN_NO,
		    	PLACE_NO,
		    	PLACE_ORDER
		) VALUES
			(
		    	#{planNo},
		   		#{placeNo},
		    	#{placeOrder}
		)
</insert>
<delete id = "deletePlanSessions">
	DELETE
		FROM
			PLAN_SESSION
		WHERE
			PLAN_NO = #{planNo}
</delete>
<select id = "findNearbyPlaces" resultType="PlanDetailResponse">
	SELECT *
	FROM (
	    SELECT
	        P.PLACE_NO
	        ,P.PLACE_NAME
	        ,P.PLACE_DESCRIPTION
	        ,P.X_AXIS
	        ,P.Y_AXIS
	        ,P.ADDR
	        ,P.ADDR_DETAIL
	        ,6371000 * 2 * ASIN(
	            SQRT(
	                POWER(
	                    SIN(
	                        (P.Y_AXIS - #{yAxis}) * 3.141592653589793 / 180 / 2
	                    ),
	                    2
	                )
	                +
	                COS(#{yAxis} * 3.141592653589793 / 180)
	                * COS(P.Y_AXIS * 3.141592653589793 / 180)
	                * POWER(
	                    SIN(
	                        (P.X_AXIS - #{xAxis}) * 3.141592653589793 / 180 / 2
	                    ),
	                    2
	                )
	            )
	        ) AS DISTANCE
	        ,T.TYPE_NO
	        ,TD.TYPE_DETAIL_NO
	        ,PI.IMG_NO
	        ,PI.IMG_PATH
	    FROM PLACE P
	    LEFT JOIN TYPE_DETAIL TD
	        ON P.TYPE_DETAIL_NO = TD.TYPE_DETAIL_NO
	    LEFT JOIN TYPE T
	        ON TD.TYPE_NO = T.TYPE_NO
	    LEFT JOIN (
	        SELECT PLACE_NO, IMG_NO, IMG_PATH
	        FROM (
	            SELECT
	                PLACE_NO
	                ,IMG_NO
	                ,IMG_PATH
	                ,ROW_NUMBER() OVER (
	                    PARTITION BY PLACE_NO
	                    ORDER BY IMG_NO
	                ) AS RN
	            FROM PLACE_IMG
	        )
	        WHERE RN = 1
	    ) PI
	        ON P.PLACE_NO = PI.PLACE_NO
		)
		WHERE DISTANCE &lt;=
	        CASE TYPE_NO
            WHEN 1 THEN 10000 <!-- 주요관광지 -->
            WHEN 2 THEN 2000 <!-- 의료기관 -->
            WHEN 3 THEN 8000 <!-- 관광지 -->
            WHEN 4 THEN 2000 <!-- 체육 시설 -->
            WHEN 5 THEN 10000 <!-- 종교 시설 -->
            WHEN 6 THEN 3000 <!-- 음식점 -->
            WHEN 7 THEN 8000 <!-- 체험 -->
            WHEN 8 THEN 5000 <!-- 문화시설 -->
            WHEN 9 THEN 8000 <!-- 자연생태 -->
            WHEN 10 THEN 2000 <!-- 복지 시설 -->
            WHEN 11 THEN 3000 <!-- 공공시설  -->
            ELSE 3000
        END
</select>


</mapper>
